body {
  background: linear-gradient(
    180deg,
    rgba(74, 105, 157, 1) 0%,
    rgba(245, 199, 142, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  color: #4a699d;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  font-family: "Shrikhand", cursive;
  font-size: 60px;
  top: 60px;
  width: 100%;
}
.app {
  border-radius: 30px;
  background-color: white;
  padding: 20px;
  margin: 30px auto;
  max-width: 550px;
}
.credits {
  margin: 60px auto;
  text-align: center;
  color: white;
}
