body {
  background-color: #d0f0f7;
}
h1 {
  color: #08acdd;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-family: "Shrikhand", cursive;
  font-size: 60px;
  top: 60px;
  width: 100%;
}
.main-container {
  display: block;
  margin: 60px auto;
  max-width: 500px;
  border: 20px #08acdd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 30px;
  border-color: #ec6e4c;
}
.credits {
  margin: 60px auto;
  text-align: center;
}
